/.vscode
/build
/node_modules
.idea/.gitignore
.idea/modules.xml
.idea/production-project.iml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
