:root {
    --bg-color: #f1f1ff;
    --inverted-bg-color: #00001d;
    --primary-color: #0d00be;
    --secondary-color: #3755ff;
    --inverted-primary-color: #006e00;
    --inverted-secondary-color: #16be00;
}
