.app.light {
    --bg-color: #f1f1ff;
    --inverted-bg-color: #00001d;

    --primary-color: #07006e;
    --secondary-color: #001cbe;
    --inverted-primary-color: #006e00;
    --inverted-secondary-color: #16be00;
}